.react-datepicker-popper {
  z-index: 100;

  .react-datepicker {
    border: 1px solid $date-picker-border-color;
    border-radius: $border-radius;
    background: $white;
  }

  .react-datepicker__day-name,
  .react-datepicker__day,
  .react-datepicker__time-name {
    border-radius: 50%;
    font-size: 13px;
  }

  .react-datepicker__day--in-range,
  .react-datepicker__day--in-selecting-range,
  .react-datepicker__day--keyboard-selected,
  .react-datepicker__day--selected,
  .react-datepicker__month-text--in-range,
  .react-datepicker__month-text--in-selecting-range,
  .react-datepicker__month-text--keyboard-selected,
  .react-datepicker__month-text--selected,
  .react-datepicker__quarter-text--in-range,
  .react-datepicker__quarter-text--in-selecting-range,
  .react-datepicker__quarter-text--keyboard-selected,
  .react-datepicker__quarter-text--selected,
  .react-datepicker__year-text--in-range,
  .react-datepicker__year-text--in-selecting-range,
  .react-datepicker__year-text--keyboard-selected,
  .react-datepicker__year-text--selected {
    background-color: $primary;
  }

  &[data-placement^="bottom"] .react-datepicker__triangle {
    border-bottom-color: $white;
  }

  &[data-placement^="bottom"] .react-datepicker__triangle::before {
    border-bottom-color: $date-picker-border-color;
  }

  &[data-placement^="top"] .react-datepicker__triangle::before {
    border-top-color: $date-picker-border-color;
  }

  .react-datepicker__header {
    padding: 0;
    border-color: $date-picker-border-color;
    border-radius: $border-radius;
    background: transparent;
  }

  .react-datepicker__header-inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 8px;
  }

  .react-datepicker__nav {
    height: 30px;
    cursor: pointer;
    color: #82888a;
    border: 1px solid $date-picker-border-color;
    border-radius: $border-radius;
    outline: 0;
    background: none;

    &:hover {
      color: darken(#82888a, 10%);
    }

    svg {
      width: 12px;
      height: 12px;
      display: block;
      fill: currentColor;
    }
  }

  .react-datepicker__current-month,
  .react-datepicker-time__header,
  .react-datepicker-year-header {
    font-size: 13px;
    font-weight: 600;
  }

  .react-datepicker__month-select,
  .react-datepicker__year-select {
    height: 30px;
    min-height: 1px;
    padding: 3px 24px 3px 8px;
    border-color: $date-picker-border-color;
    border-radius: $border-radius;
    outline: 0 !important;
    box-shadow: none !important;
    font-size: 13px;
    line-height: 1;
  }
}

.react-datepicker-wrapper {
  display: block;
}

.react-datepicker__input-container {
  input {
    box-sizing: border-box;
    height: $input-height;
    padding: 6px 12px;
    color: $text-color;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    outline: 0 !important;
    box-shadow: none;

    &:focus {
      border-color: $primary;
      outline: 0 !important;
      box-shadow: 0 0 0 4px rgba($primary, 0.3) !important;
    }
  }
}