.bod-ui__notice {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 0 0 15px 0;
  padding: 0;
  color: #666;
  border: 1px solid #e6e6e6;
  border-left-width: 2px;
  border-left-color: #aaa;
  border-radius: $border-radius;
  background: $white;

  @each $type,
  $color in $notice-colors {
    &.bod-ui__notice-#{$type} {
      border-left-color: $color;

      .bod-ui__notice-icon {
        color: $color;
      }
    }
  }

  p {
    margin: 0;
  }

  .bod-ui__notice-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 40px;
    padding: 14px 0 0 0;

    svg {
      width: 16px;
      height: 16px;
    }
  }

  .bod-ui__notice-content {
    flex-grow: 1;
    padding: 10px 15px 10px 0;
    letter-spacing: 0.16px;
    line-height: 1.5;
  }
}