#{$prefix}__notice {
  position: relative;
  overflow: hidden;
  margin: 0 0 15px 0;
  padding: 0;
  border: 1px solid transparent;
  border-radius: $border-radius;

  p {
    margin: 0;
  }

  @each $type,
  $color in $notice-colors {
    @each $style in $notice-styles {
      $notice-color: $color;
      $notice-bg: $white;
      $notice-icon-color: $color;

      @if $style=="filled" {
        $notice-color: $white;
        $notice-bg: $color;
        $notice-icon-color: $white;
      }

      @else if $style=="semi-filled" {
        $notice-icon-color: $white
      }

      @else if $style=="simple" {
        $notice-bg: lighten($color, 40%);

        @if ($type=="info"or $type=="warning"or $type=="error") {
          $notice-bg: lighten($color, 25%);
        }
      }

      &#{$prefix}__notice-#{$style}-#{$type} {
        color: $notice-color;
        border-color: $notice-color;
        background: $notice-bg;

        #{$prefix}__notice-icon {
          color: $notice-icon-color;

          @if $style=="semi-filled" {
            background: $color;
          }

          @if ($style=="simple"or $style=="outline") {
            .components-spinner {
              background-color: $color;

              &::before {
                background-color: $white;
              }
            }
          }

          @else {
            .components-spinner {
              background-color: $white;

              &::before {
                background-color: $color;
              }
            }
          }
        }
      }
    }
  }

  #{$prefix}__notice-inner {
    display: flex;
    flex-direction: row;
    align-items: stretch;
  }

  #{$prefix}__notice-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 52px;

    .components-spinner {
      margin: 0;
    }
  }

  #{$prefix}__notice-content {
    flex-grow: 1;
    padding: 10px 15px;
    letter-spacing: 0.16px;
    line-height: 1.5;
  }

  &[class*="notice-outline"] {
    border-width: 2px;
  }

  &.has-icon:not([class*="notice-semi-filled"]) {
    #{$prefix}__notice-content {
      padding-left: 0;
    }
  }
}
