.bod-ui__steps {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .bod-ui__bar {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 3px;
    overflow: hidden;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    background: $step-color;

    .bod-ui__bar-fill {
      width: 0;
      height: 100%;
      display: block;
      background: $primary;
    }
  }

  .bod-ui__point {
    position: relative;
    color: $white;
  }

  .bod-ui__bullet {
    position: relative;
    z-index: 1;
    width: 20px;
    height: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease;
    color: $white;
    border-radius: 100%;
    background: $step-color;
    font-size: 11px;
    line-height: 1;

    svg {
      width: 14px;
      height: 14px;
    }
  }

  .bod-ui__label {
    position: absolute;
    top: 100%;
    left: 50%;
    margin: 6px 0 0 0;
    cursor: text;
    transform: translate(-50%, 0);
    color: darken($step-color, 20%);
    font-size: 13px;
    line-height: 1;
  }

  .bod-ui__point-complete,
  .bod-ui__point-active {
    .bod-ui__bullet {
      color: $white;
      background: $primary;
    }

    .bod-ui__label {
      color: $primary;
    }
  }
}