$white: #ffffff;
$black: #000000;

$green: #1abc9c;
$blue: #17a8e3;
$yellow: #fecf2f;
$red: #ff6d6d;
$gray: #aaaaaa;

$primary: #1abc9c;
$secondary: #aaaaaa;
$text-color: #888888;

$panel-bg: $white;
$panel-box-shadow-color: #555d66;
$panel-header-bg: $green;
$panel-header-bg: #f7f5fa;
$panel-footer-bg: #f6f8fa;
$panel-title-color: $white;
$panel-border-color: #e1e4e8;

$panel-width: 510px;
$panel-top-pad: 166px;
$panel-top-pad-small: 92px;
$panel-header-height: 65px;
$panel-footer-height: 62px;

$border-color: #e6e6e6;
$border-radius: 4px;
$btn-height: 32px;
$input-height: $btn-height;

$notice-colors: ("success": $green,
  "info": $blue,
  "warning": $yellow,
  "error": $red,
  "default": $gray,
) !default;

$step-color: #b9b7b7;

@mixin screen() {
  @media (min-width: 783px) {
    @content;
  }
}