$white: #fff !default;

$notice-colors: (
	"success": #4bd67b,
	"info": #71b2df,
	"warning": #f5c76f,
	"error": #f57e7c,
	"default": #6c757d,
) !default;

$notice-styles: "filled", "outline", "semi-filled", "simple" !default;

.container {
	width: 768px;
	max-width: 100%;
	margin: 0 auto;
	padding: 30px;
	font-family: "Montserrat", sans-serif;
}

.notice {
	position: relative;
	overflow: hidden;
	margin: 0 0 15px 0;
	padding: 0;
	border: 1px solid transparent;
	border-radius: 4px;
	font-size: 1em;

	@each $type, $color in $notice-colors {
		@each $style in $notice-styles {
			$notice-color: $white;
			$notice-bg: $color;
			$notice-icon-bg: transparent;
			$notice-icon-color: $white;

			@if $style== "filled" {
				$notice-color: $white;
				$notice-bg: $color;
				$notice-icon-bg: transparent;
				$notice-icon-color: $white;
			} @else if $style== "semi-filled" {
				$notice-color: $color;
				$notice-bg: $white;
				$notice-icon-bg: $color;
				$notice-icon-color: $white;
			} @else if $style== "outline" {
				$notice-color: $color;
				$notice-bg: $white;
				$notice-icon-bg: transparent;
				$notice-icon-color: $color;
			} @else if $style== "simple" {
				$notice-color: $color;
				$notice-bg: lighten($color, 40%);
				$notice-icon-bg: transparent;
				$notice-icon-color: $color;
			}

			&.notice-#{$style}-#{$type} {
				color: $notice-color;
				border-color: $notice-color;
				background: $notice-bg;

				.notice-icon {
					color: $notice-icon-color;
					background: $notice-icon-bg;
				}
			}
		}
	}

	.notice-inner {
		display: flex;
		flex-direction: row;
		align-items: stretch;
	}

	.notice-icon {
		display: flex;
		align-items: center;
		justify-content: center;
		flex: 0 0 48px;
	}

	.notice-content {
		flex-grow: 1;
		padding: 10px 15px;
		letter-spacing: 0.16px;
		font-size: 1em;
		line-height: 1.6;
	}

	&[class*="notice-outline"] {
		border-width: 2px;
	}

	&.has-icon:not([class*="notice-semi-filled"]) {
		.notice-content {
			padding-left: 0;
		}
	}
}
