/* Simple CSS Reset and Print options
------------------------------------------*/


html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
table,
ol,
ul,
dl,
li,
dt,
dd {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0 none;
  font: inherit;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}


/* Template Page Layout
------------------------------------------*/


/* Main Body */
body {
  color: #000;
  background: #fff;
  font-family: "HelveticaNeue", Helvetica, Arial, sans-serif;
  font-size: 100%;
  line-height: 1.25em;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 1.25em;
  font-weight: bold;
}

ul {
  margin-bottom: 1.25em;
}

li,
dt,
dd {
  padding: 0.375em 0;
}

dt {
  font-weight: bold;
}

p+p {
  margin-top: 1.25em;
}

address {
  font-style: normal;
}

/* Basic Table Styling */
table {
  width: 100%;
  page-break-inside: auto;
}

tr {
  border-bottom: 0.12em solid #bbb;
  page-break-inside: avoid;
  page-break-after: auto;
}

td,
th {
  padding: 0.375em 0.75em 0.375em 0;
  vertical-align: top;
}

td img,
th img {
  vertical-align: top;
}

th {
  padding-bottom: 1.25em;
  text-align: left;
  color: black;
  font-weight: bold;
}

tfoot {
  display: table-row-group;
}

/* Page Margins & Basic Stylings */
#page {
  margin-right: auto;
  margin-left: auto;
  text-align: left;
  font-size: 0.875em;
}

.content {
  padding: 10px;
}

.content+.content {
  page-break-before: always;
}

h1,
h2 {
  font-size: 1.572em;
}

.order-branding,
.order-addresses,
.order-info,
.order-items,
.order-notes,
.order-thanks,
.order-colophon {
  margin-bottom: 3em;
}

.order-items {
  page-break-before: auto;
  page-break-after: auto;
}

/* Order Branding */
.order-branding .company-logo {
  margin-bottom: 1em;
}

/* Order Addresses */
.order-addresses {
  margin-bottom: 6em;
}

.order-addresses:after {
  visibility: hidden;
  clear: both;
  display: block;
  height: 0;
  content: ".";
}

.billing-address {
  float: left;
  width: 48%;
  margin-right: 3%;
}

.shipping-address {
  float: left;
  width: 48%;
}

.order-addresses.no-shipping-address .shipping-address {
  display: none;
}

/*
.order-addresses.no-shipping-address .billing-address {
	margin-left: 50%;
}
*/

/* Switch the addresses for invoices */

/* Order Info */
.order-info ul {
  border-top: 0.24em solid black;
}

.order-info li {
  border-bottom: 0.12em solid #bbb;
}

.order-info li strong {
  overflow: hidden;
  display: inline-block;
  min-width: 30%;
  margin-bottom: 0;
  padding-right: 0.35em;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: normal;
}

.order-info li span {
  overflow: hidden;
  display: inline-block;
}

/* Order Items */
.order-items {
  margin-bottom: 1em;
}

.order-items .head-name,
.order-items .product-name,
.order-items .total-name {
  width: 67%;
}

.order-items .head-quantity,
.order-items .product-quantity,
.order-items .total-quantity,
.order-items .head-item-price,
.order-items .product-item-price,
.order-items .total-item-price {
  width: 15%;
}

.order-items .product-name small {
  font-size: 90%;
  line-height: 100%;
}

.order-items .product-name strong {
  font-weight: normal;
  border-bottom: 1px solid #000;
}

.order-items .product-name table,
.order-items .product-name table tr,
.order-items .product-name table th,
.order-items .product-name table td {
  border: 0;
}

.order-items .head-quantity,
.order-items .product-quantity {
  width: 3%;
  text-align: center;
}

.order-items .head-price,
.order-items .product-price,
.order-items .total-price {
  width: 15%;
}

.order-items p {
  display: inline;
}

.order-items small,
.order-items dt,
.order-items dd {
  margin: 0;
  padding: 0;
  font-size: 0.785em;
  font-weight: normal;
  line-height: 150%;
}

.order-items dt,
.order-items dd {
  float: left;
  display: block;
}

.order-items dt {
  clear: left;
  padding-right: 0.2em;
}

.order-items .product-name .attachment {
  float: left;
  display: block;
  width: 36px;
  margin-right: 0.5em;
}

.order-items .product-name .attachment img {
  max-width: 100%;
  height: auto;
}

.order-items .product-name .name,
.order-items .product-name .extras {
  overflow: hidden;
}

.order-items tfoot tr:first-child,
.order-items tfoot tr:last-child {
  font-weight: bold;
}

.order-items tfoot tr:last-child .total-price .amount:first-child {
  font-weight: bold;
}

.order-items tfoot tr:last-child {
  border-bottom: 0.24em solid black;
}

/* Order Notes */
.order-notes {
  margin-top: 3em;
  margin-bottom: 6em;
}

.order-notes h4 {
  margin-bottom: 0;
}

/* Order Thanks */
.order-thanks {
  margin-left: 50%;
}

/* Order Colophon */
.order-colophon {
  margin-bottom: 0;
  font-size: 0.785em;
  line-height: 150%;
}

.colophon-policies {
  margin-bottom: 1.25em;
}


/* CSS Media Queries for Print
------------------------------------------*/


@media print {
  body {
    font-size: 8pt;
  }

  .content {
    /* Remove padding to not generate empty follow up pages */
    padding-bottom: 0;
  }
}
